//====================================================================================================
.hero {
    background-color: $bgColor;
    display: grid;
    padding: toRem(80) toRem(15) toRem(60) toRem(15);
    min-height: 100vh;
    grid-template-columns: auto 1fr auto;
    &__image {
        @include adaptiveValue("width", 412, 200, 0, $containerWidth, 991.98);
        border-radius: toRem(24);
        overflow: hidden;
        img {
            max-width: 100%;
            object-position: top;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        @include adaptiveValue("padding-left", 83, 15, 0, $containerWidth, 991.98);
        @include adaptiveValue("padding-right", 83, 15, 0, $containerWidth, 991.98);
    }

    &__content {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__block-header {
        max-width: toRem(670);
        &__title {
        }
    }
}


//====================================================================================================
