//====================================================================================================
.hero {
    background-color: $bgColor;
    display: grid;
    padding: toRem(80) toRem(15) toRem(60) toRem(15);
    min-height: 100vh;
    grid-template-columns: auto 1fr auto;
    &__image {
        @include adaptiveValue("width", 412, 200, 0, $containerWidth, 991.98);
        border-radius: toRem(24);
        overflow: hidden;
        img {
            max-width: 100%;
            object-position: top;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        @include adaptiveValue("padding-left", 83, 15, 0, $containerWidth, 991.98);
        @include adaptiveValue("padding-right", 83, 15, 0, $containerWidth, 991.98);
    }

    &__content {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__main {
        display: grid;
        gap: toRem(24);
        &:not(:last-child) {margin-bottom: toRem(48);}
    }

    &__block-header {
        max-width: toRem(670);
        &__title {
        }
    }

    &__items {
    }

    &__done {
        justify-content: center;
        align-items: center;
    }
}

.items-hero {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: toRem(52);
    &__item {
        color: $greyColor;
        font-weight: 700;
        line-height: 1.4;
        position: relative;
        &:not(:last-child) {
            &::after{
                content:'';
                position: absolute;
                right: toRem(-30);
                top: calc(50% - toRem(2));
                width: toRem(5);
                height: toRem(5);
                border-radius: 50%;
                background-color: $greyColor;
            }
        }
    }
}


//====================================================================================================
